.card {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
           
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: gray;
}

.card button {
  padding: 8px;
  background-color: rgb(30, 238, 238);
  border: none;
  border-radius: 10px;
  margin-top: auto;       
}
